* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}

button {
  color: #000000;
  user-select: none;
}

main {
  width: 100vw;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter--container,.filter-advanced--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  width: 100%;
}

.filter-advanced--toggle {
  width: 100%;
  max-width: 600px;
  padding: 8px;
  border: none;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.filter-advanced--toggle:active:enabled {
  background-color: rgba(128, 128, 128, 0.2);
}

@media (hover: hover) {
  .filter-advanced--toggle:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}

.filter-advanced--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.filter-advanced--content.hide {
  display: none;
}

.search {
  width: 100%;
  max-width: 600px;
}

.search--input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 16px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 16px;
  outline: none;
}

.filter-advanced--types-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 600px;
}

.filter-advanced--range-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 500px;
}

.range {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.range--title {
  color: #635a5a;
  margin-bottom: 16px;
  text-align: center;
}

.range--sliders-control {
  position: relative;
}

.range--number-control {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #635a5a;
  margin-top: 16px;
}

.range--number-control--label {
  font-size: 0.8rem;
}

.range--number-control--label.max, .range--number-control--input.max {
  text-align: end;
}

.range--sliders-control--input::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}

.range--sliders-control--input::-moz-range-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;  
}

.range--sliders-control--input::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

.range--sliders-control--input::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

.range--number-control--input {
  color: #8a8383;
  width: 50px;
  height: 30px;
  border: none;
}

.range--number-control--input::-webkit-outer-spin-button,
.range--number-control--input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range--number-control--input {
  appearance: textfield;
}

.range--sliders-control--input {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  font-size: 0.8rem;
  pointer-events: none;
}

.range--sliders-control--input:first-child {
  height: 0;
  z-index: 1;
}

.list-container {
  width: 100%;
  user-select: none;
}

.not-found {
  width: 100%;
  margin-top: 16px;
  text-align: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 32px;
  padding: 16px;
  margin: 16px;
  will-change: transform;
  overflow: hidden;
}

.card--image {
  width: 80%;
}

.card--title {
  margin: 0;
}

.card--type {
  display: flex;
  gap: 8px;
}

.card > .card--param-list {
  position: absolute;
  margin: 0;
  padding: 24px;
  list-style-type: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7);
  opacity: 0;
  transition: 0.4s;
}

@media (hover: none) {
  .card:active > .card--param-list {
    opacity: 1;
  }
}

@media (hover: hover) {
  .card:hover > .card--param-list {
    opacity: 1;
  }
}

.card--param-list > .card--param-item {
  margin-bottom: 16px;
}

.card--param-item {
  padding: 4px 8px;
  border-radius: 16px;
}

.card--param-item.hp {
  background-color: #ff0000;
}

.card--param-item.attack {
  background-color: #f08030;
}

.card--param-item.defence {
  background-color: #f8d030;
}

.card--param-item.special-attack {
  background-color: #6890f0;
}

.card--param-item.special-defence {
  background-color: #78c850;
}

.card--param-item.speed {
  background-color: #f85888;
}

.chip {
  text-align: center;
  border-radius: 16px;
  padding: 6px 12px;
}

.chip.grass {
  background-color: #7ac74c;
}

.chip.poison {
  background-color: #a33ea1;
}

.chip.fire {
  background-color: #ee8130;
}

.chip.flying {
  background-color: #a98ff3;
}

.chip.water {
  background-color: #6390f0;
}

.chip.bug {
  background-color: #a6b91a;
}

.chip.normal {
  background-color: #a8a77a;
}

.chip.electric {
  background-color: #f7d02c;
}

.chip.ground {
  background-color: #e2bf65;
}

.chip.fairy {
  background-color: #d685ad;
}

.chip.fighting {
  background-color: #c22e28;
}

.chip.psychic {
  background-color: #f95587;
}

.chip.rock {
  background-color: #b6a136;
}

.chip.steel {
  background-color: #b7b7ce;
}

.chip.ice {
  background-color: #96d9d6;
}

.chip.ghost {
  background-color: #735797;
}

.chip.dragon {
  background-color: #6f35fc;
}

.chip.dark {
  background-color: #705746;
}

.filter-chip {
  font-size: 0.9rem;
  text-align: center;
  border-radius: 16px;
  padding: 4px 8px;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
}

.filter-chip.grass {
  border: 2px solid #7ac74c;
}

.filter-chip.poison {
  border: 2px solid #a33ea1;
}

.filter-chip.fire {
  border: 2px solid #ee8130;
}

.filter-chip.flying {
  border: 2px solid #a98ff3;
}

.filter-chip.water {
  border: 2px solid #6390f0;
}

.filter-chip.bug {
  border: 2px solid #a6b91a;
}

.filter-chip.normal {
  border: 2px solid #a8a77a;
}

.filter-chip.electric {
  border: 2px solid #f7d02c;
}

.filter-chip.ground {
  border: 2px solid #e2bf65;
}

.filter-chip.fairy {
  border: 2px solid #d685ad;
}

.filter-chip.fighting {
  border: 2px solid #c22e28;
}

.filter-chip.psychic {
  border: 2px solid #f95587;
}

.filter-chip.rock {
  border: 2px solid #b6a136;
}

.filter-chip.steel {
  border: 2px solid #b7b7ce;
}

.filter-chip.ice {
  border: 2px solid #96d9d6;
}

.filter-chip.ghost {
  border: 2px solid #735797;
}

.filter-chip.dragon {
  border: 2px solid #6f35fc;
}

.filter-chip.dark {
  border: 2px solid #705746;
}

@media (hover: hover) {
  .filter-chip.grass:hover {
    background-color: rgba(121, 199, 76, 0.5);
  }

  .filter-chip.poison:hover {
    background-color: rgba(163, 62, 161, 0.5);
  }

  .filter-chip.fire:hover {
    background-color: rgba(238, 130, 48, 0.5);
  }

  .filter-chip.flying:hover {
    background-color: rgba(170, 143, 243, 0.5);
  }

  .filter-chip.water:hover {
    background-color: rgba(99, 144, 240, 0.5);
  }

  
  .filter-chip.bug:hover {
  background-color: rgba(166, 185, 26, 0.5);
  }

  .filter-chip.normal:hover {
    background-color: rgba(168, 167, 122, 0.5);
  }

  .filter-chip.electric:hover {
    background-color: rgba(247, 206, 44, 0.5);
  }

  .filter-chip.ground:hover {
    background-color: rgba(226, 191, 101, 0.5);
  }

  .filter-chip.fairy:hover {
    background-color: rgba(214, 133, 173, 0.5);
  }

  .filter-chip.fighting:hover {
    background-color: rgba(194, 46, 40, 0.5);
  }

  .filter-chip.psychic:hover {
    background-color: rgba(249, 85, 134, 0.5);
  }

  .filter-chip.rock:hover {
    background-color: rgba(182, 161, 54, 0.5);
  }

  .filter-chip.steel:hover {
    background-color: rgba(183, 183, 206, 0.5);
  }

  .filter-chip.ice:hover {
    background-color: rgba(150, 217, 214, 0.5);
  }

  .filter-chip.ghost:hover {
    background-color: rgba(115, 87, 151, 0.5);
  }

  .filter-chip.dragon:hover {
    background-color: rgba(109, 53, 252, 0.5);
  }

  .filter-chip.dark:hover {
    background-color: rgba(112, 87, 70, 0.5);
  }
}

.filter-chip.poison.active {
  background-color: #a33ea1;
}

.filter-chip.fire.active {
  background-color: #ee8130;
}

.filter-chip.flying.active {
  background-color: #a98ff3;
}

.filter-chip.water.active {
  background-color: #6390f0;
}

.filter-chip.grass.active {
  background-color: #7ac74c;
}

.filter-chip.bug.active {
  background-color: #a6b91a;
}

.filter-chip.normal.active {
  background-color: #a8a77a;
}

.filter-chip.electric.active {
  background-color: #f7d02c;
}

.filter-chip.ground.active {
  background-color: #e2bf65;
}

.filter-chip.fairy.active {
  background-color: #d685ad;
}

.filter-chip.fighting.active {
  background-color: #c22e28;
}

.filter-chip.psychic.active {
  background-color: #f95587;
}

.filter-chip.rock.active {
  background-color: #b6a136;
}

.filter-chip.steel.active {
  background-color: #b7b7ce;
}

.filter-chip.ice.active {
  background-color: #96d9d6;
}

.filter-chip.ghost.active {
  background-color: #735797;
}

.filter-chip.dragon.active {
  background-color: #6f35fc;
}

.filter-chip.dark.active {
  background-color: #705746;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.row > [class*="col-"] {
  width: 100%;
}

@media (min-width: 600px) {
  .row > .col-s-1 {width: 8.33%;}
  .row > .col-s-2 {width: 16.66%;}
  .row > .col-s-3 {width: 25%;}
  .row > .col-s-4 {width: 33.33%;}
  .row > .col-s-5 {width: 41.66%;}
  .row > .col-s-6 {width: 50%;}
  .row > .col-s-7 {width: 58.33%;}
  .row > .col-s-8 {width: 66.66%;}
  .row > .col-s-9 {width: 75%;}
  .row > .col-s-10 {width: 83.33%;}
  .row > .col-s-11 {width: 91.66%;}
  .row > .col-s-12 {width: 100%;}

  .card--param-list > .card--param-item {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .row > .col-m-1 {width: 8.33%;}
  .row > .col-m-2 {width: 16.66%;}
  .row > .col-m-3 {width: 25%;}
  .row > .col-m-4 {width: 33.33%;}
  .row > .col-m-5 {width: 41.66%;}
  .row > .col-m-6 {width: 50%;}
  .row > .col-m-7 {width: 58.33%;}
  .row > .col-m-8 {width: 66.66%;}
  .row > .col-m-9 {width: 75%;}
  .row > .col-m-10 {width: 83.33%;}
  .row > .col-m-11 {width: 91.66%;}
  .row > .col-m-12 {width: 100%;}

  .card--param-list > .card--param-item {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .row > .col-l-1 {width: 8.33%;}
  .row > .col-l-2 {width: 16.66%;}
  .row > .col-l-3 {width: 25%;}
  .row > .col-l-4 {width: 33.33%;}
  .row > .col-l-5 {width: 41.66%;}
  .row > .col-l-6 {width: 50%;}
  .row > .col-l-7 {width: 58.33%;}
  .row > .col-l-8 {width: 66.66%;}
  .row > .col-l-9 {width: 75%;}
  .row > .col-l-10 {width: 83.33%;}
  .row > .col-l-11 {width: 91.66%;}
  .row > .col-l-12 {width: 100%;}

  .container {
    display: flex;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
  }

  .filter-advanced--container {
    align-self: flex-start;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 16px;
    flex: 0 0 300px;
  }
  
  .filter-advanced--toggle {
    display: none;
  }
  
  .filter-advanced--content.hide {
    display: flex;
  }
}